*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:  20px;
}
.heading2{
    display:flex ;
    gap: 25px;
}
.heading1 h3{
    font-weight: 400;
    font-size: 16px;
}
.heading2 p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s all;
}
.heading2 p:hover{
    color: grey;
}
button{
    padding: 8px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    transition: 0.5s all;
    font-weight: 600;
    margin: 20px;
}
button:hover{
    background-color: white;
    color: black;
}
.animation{
    display: flex;
    gap: 20px;
}
h1{
    /* text-align: center; */
    padding-top: 40px;
    font-size: 70px;
    font-weight: 800;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: slider 10s linear   infinite;
    padding-bottom: 30px;
} 
@keyframes slider {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
h4{
    font-size: 25px;
    font-weight: 500;
    padding:8px 20px;
}
.content{
    display: flex;
    justify-content: space-between;
}
img{
    margin: 30px;
    height: 360px;
}